<div class="" id="tab3">
    <form name="groupForm">
        <!-- widget:1 - General Form -->
        <div class="portlet light" ng-repeat='singleSubCategoryDtls in groupFormConfig'>
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject theme-font bold uppercase ng-binding">
                        <i class="pull-left {{singleSubCategoryDtls.icon}} fa-2x"></i> {{singleSubCategoryDtls.displayName}}
                    </span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <gcurv-basic-field ng-repeat='field in singleSubCategoryDtls.fields' field-dtl="field" class="{{field.class}}"></gcurv-basic-field>

                </div>
                <div class="row">
                    <div class="col-md-9">
                        <!-- Select -->
                        <ui-select multiple ng-model="meterVar.holder" theme="bootstrap" class="ui-select-multiple ui-select-bootstrap dropdown form-control">
                            <ui-select-match placeholder="Select meter...">{{$item.Name}} </ui-select-match>
                            <ui-select-choices repeat="meter in meterData | propsFilter: {Name: $select.search}">
                                <div ng-bind-html="meter.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="row" style="margin-top:20px;">
                    <div class="form-actions">
                        <div class="col-md-9">
                            <!--  <button class="btn default button-previous">
                        <i class="m-icon-swapleft"></i> Back </button> -->
                            <button class="btn blue" ng-click="save()">
                                Create new group <i class="m-icon-swapright m-icon-white"></i>
                            </button>
                            <button class="btn red" ng-click="delete()">
                                Delete
                            </button>
                            <button class="btn" ng-click="cancel()">
                                Cancel
                            </button>
                            <button class="btn" ng-click="edit()">
                                Edit
                            </button>
                            <button class="btn" ng-click="update()">
                                Update
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- grid -->
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart theme-font hide"></i>
                <span class="caption-subject theme-font bold uppercase ng-binding">
                    <i class="pull-left {{gateways.icon}} fa-2x"></i> Meters
                </span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-sm-12">
                    <!--       <div id="grid1" ui-grid="{ data: gridData }" class="grid"></div> -->
                    <div id="grid2" ui-grid="groupGrid" ui-grid-selection ui-grid-pagination ui-grid-exporter class="grid"></div>
                </div>
            </div>
        </div>
    </div>

</div>